</div>
<footer>
	<p><a href="/donate.html">Support us!</a> | <a href="/about.html">About us</a> | <a href="/warrant-canary.txt">Warrant Canary</a> | <a href="/README.html">Contribute</a> | <a href="/mirrors.html">Mirrors</a></p>
</footer>
</html>

