<h1>IM Comparison</h1>

<p>WIP. Meanwhile, you can watch <a href="https://videopen.net/w/tsedyhRegsG2EoBUaFzZrz">the video</a> or read <a href="http://zsxjtsgzborzdllyp64c6pwnjz5eic76bsksbxzqefzogwcydnkjy3yd.onion/">the article</a> where the table
was originally taken from</p>
<div class="table-container">
	<table>
		<tr>
			<td>Name</td>
			<td>Spyware Rating</td>
			<td>Network Architecture</td>
			<td>Operating System</td>
			<td>License</td>
			<td>Verdict</td>
		</tr>
		<tr>
			<td><a href="#WhatsApp">WhatsApp</a></td>
			<td>Unrated</td>
			<td>Centralized</td>
			<td>Various</td>
			<td>Proprietary</td>
			<td class="red">Do Not Use</td>
		</tr>
		<tr>
			<td><a href="#Telegram">Telegram</a></td>
			<td>Unrated</td>
			<td>Centralized</td>
			<td>Various</td>
			<td>Client is free software, proprietary server</td>
			<td class="red">Do Not Use</td>
		</tr>
		<tr>
			<td><a href="#Skype">Skype</a></td>
			<td>Unrated</td>
			<td>Centralized</td>
			<td>Various</td>
			<td>Proprietary</td>
			<td class="red">Do Not Use</td>
		</tr>
		<tr>
			<td><a href="#Discord">Discord</a></td>
			<td class="red">Extremely High</td>
			<td>Centralized</td>
			<td>WebUI and Electron, 3rd party clients prohibited</td>
			<td>Proprietary</td>
			<td class="red">Do Not Use</td>
		</tr>
		<tr>
			<td><a href="#Signal">Signal</a></td>
			<td>Unrated</td>
			<td>Centralized</td>
			<td>Android, Electron</td>
			<td>MIT, server partially proprietary</td>
			<td class="red">Avoid</td>
		</tr>
		<tr>
			<td><a href="#Threema">Threema</a></td>
			<td>Unrated</td>
			<td>Centralized</td>
			<td>Android, iOS, Web</td>
			<td>Client under GPLv3 , proprietary server</td>
			<td class="red">Avoid</td>
		</tr>  
		<tr>
			<td><a href="#Wire">Wire</a></td>
			<td>Unrated</td>
			<td>Centralized</td>
			<td>Various</td>
			<td>AGPLv3, GPLv3</td>
			<td class="orange">Stay away</td>
		</tr>
		<tr>
			<td><a href="#Session">Session</a></td>
			<td>Unrated</td>
			<td>Decentralized, Swarms (blockchain)</td>
			<td>?</td>
			<td>?</td>
			<td class="orange">Stay away</td>
		</tr>
		<tr>
			<td><a href="#Matrix">Matrix</a></td>
			<td>Unrated</td>
			<td>Decentralized, dominant instance, Federated</td>
			<td>WebUI, electron (official client), various (3rd party clients)</td>
			<td>Apache (official implementations), various (other)</td>
			<td class="orange">Stay away</td>
		</tr>
		<tr>
			<td><a href="#XMPP">XMPP</a></td>
			<td>Unrated</td>
			<td>Decentralized, Federated</td>
			<td>Various, depends on client</td>
			<td>CC-BY-SA 2.0 (specification), various (clients)</td>
			<td class="green">Good</td>
		</tr>
		<tr>
			<td><a href="#Jami">GNU Jami</a></td>
			<td>Unrated</td>
			<td>Decentralized, P2P</td>
			<td>Android, most desktop OSs</td>
			<td>GPLv3</td>
			<td class="blue">Probably okay</td>
		</tr>
		<tr>
			<td><a href="#Briar">Briar</a></td>
			<td>Unrated</td>
			<td>Decentralized, P2P</td>
			<td>Android, Linux</td>
			<td>GPLv3</td>
			<td class="blue">Probably okay</td>
		</tr>
	</table>
</div>
