<img alt="The Privacy Raccoon" src="/images/raccoon.png"/>
<p>Welcome to the The Privacy Raccoon!</p>
</p>We aim to help people defending their rights in the era of mass surveillance.</p>

<h1>Recommendations</h1>
<p>This is our list of privacy tools that will help you to remain private
online. It has been carefully handcrafted by a group of privacy activists. There is
no silver bullet when it comes to privacy, but these tools will make tracking
you online a very difficult task.</p>

<h2>Operative System</h2>
<div class="maindiv">
<div class="cat-item"><a href="#os" class="cat">Desktop OS</a></div>
<div class="cat-item"><a href="#mobile-os" class="cat">Mobile OS</a></div>
<div class="cat-item"><a href="#router" class="cat">Router Firmware</a></div>
</div>

<h2>Web Browser</h2>
<div class="maindiv">
<div class="cat-item"><a href="#browser" class="cat">Web Browser</a></div>
<div class="cat-item"><a href="#mobile-browsers" class="cat">Mobile Browser</a></div>
<div class="cat-item"><a href="#browser-addons" class="cat">Browser Addons</a></div>
</div>

<h2>Private Communications</h2>
<div class="maindiv">
<div class="cat-item"><a href="#email" class="cat">Email</a></div>
<div class="cat-item"><a href="#email-clients" class="cat">Email Clients</a></div>
<div class="cat-item"><a href="#im" class="cat">Instant Messengers</a></div>
<div class="cat-item"><a href="#im" class="cat">Anonymous IM</a></div>
<div class="cat-item"><a href="#voice-video" class="cat">Voice & Video</a></div>
<div class="cat-item"><a href="#group-chat" class="cat">Group Chat</a></div>
<div class="cat-item"><a href="#social" class="cat">Social Networks</a></div>
<div class="cat-item"><a href="#blog" class="cat">Blog Software</a></div>
</div>

<h2>Privacy Service Providers</h2>
<div class="maindiv">
<div class="cat-item"><a href="#search-engine" class="cat">Search Engine</a></div>
<div class="cat-item"><a href="#dns-provider" class="cat">DNS resolver</a></div>
<div class="cat-item"><a href="#vpn" class="cat">VPN provider</a></div>
<div class="cat-item"><a href="#hosting" class="cat">Hosting & Domain</a></div>
<div class="cat-item"><a href="#cloud" class="cat">"Cloud" Storage</a></div>
<div class="cat-item"><a href="#video-hosting" class="cat">Video Hosting</a></div>
<div class="cat-item"><a href="#private-frontends" class="cat">Private Frontends</a></div>
</div>

<h2>Essential Privacy Tools</h2>
<div class="maindiv">
<div class="cat-item"><a href="#password" class="cat">Password Managers</a></div>
<div class="cat-item"><a href="#dns-client" class="cat">DNS client</a></div>
<div class="cat-item"><a href="#anon" class="cat">Anon Networks</a></div>
<div class="cat-item"><a href="#encryption" class="cat"> File Encryption</a></div>
<div class="cat-item"><a href="#files" class="cat">File Sharing & Sync</a></div>
<div class="cat-item"><a href="#notes" class="cat">Taking Notes</a></div>
<div class="cat-item"><a href="#metadata" class="cat">Metadata Removal</a></div>
</div>

<h2>Miscellaneous</h2>
<div class="maindiv">
<div class="cat-item"><a href="#xmpp-client" class="cat">XMPP Clients</a></div>
<div class="cat-item"><a href="#irc-client" class="cat">IRC Clients</a></div>
<div class="cat-item"><a href="#torrent" class="cat">Torrent Clients</a></div>
<div class="cat-item"><a href="#download-manager" class="cat">Download Managers</a></div>
<div class="cat-item"><a href="#rss" class="cat">RSS Readers</a></div>
<div class="cat-item"><a href="#backups" class="cat">Backups</a></div>
<div class="cat-item"><a href="#gemini" class="cat">Gemini</a></div>
<div class="cat-item"><a href="#gopher" class="cat">Gopher</a></div>
</div>

</br>

<h2 id="os">Operative Systems</h2>
<h3>Linux</h3>
<p><strong>SELECT FULL DISK ENCRYPTION ON THE INSTALLER!</strong> Encryption is essential for privacy and security.</p>
<div class="option"> <img src="/images/mxlinux-logo.png" class="logo"><h3><a href="https://mxlinux.org" >MX Linux</a></h3>
	<div class="option-p">
	<p><i>Warning: Home page is Cloudflared</i></p>
	<p>MX Linux, based on Debian, is probably the most user friendly distro of this list and the one that we
	recommend for complete Linux beginners. It comes with handy tools for newcommers. The only disadvantage
	is that it comes with a lot of things preinstalled, but that's probably good for new users anyway.</p>
	</div>
</div>
<div class="option">
	<img src="/images/artix-logo.png" class="logo"><h3><a href="https://artixlinux.org">Artix</a></h3>
	<div class="option-p">
	<p><i>Warning: Home page is Cloudflared</i></p>
	<p>Arch but with different init systems to choose from. Nice and easy to use GUI installer,
	friendly community and has the full potential of Arch Linux. Decent distro and probably the best one
	in this list for less advanced users. We do not use Arch Linux because we are very alternative.</p>
	</div>
</div>
<div class="option">
	<img src="/images/qubes-logo.png" class="logo"><h3><a href="">Qubes OS</a></h3>
	<div class="option-p">
	<p>Qubes is an operative system with a strong focus on security and sandboxing.
	It's based on Xen and Linux. It's built out of securely-isolated compartments called qubes.
	Each program runs completely isolated in it's own qube for a better security.
	Qubes is better used together with <a href="#anon-os">Whonix</a>.</p>
	</div>
</div>

<h3 id="anon-os">Anonymity-Focused Operative Systems</h3>
<div class="option">
	<img src="/images/whonix-logo.png" class="logo"><h3><a href="https://www.whonix.org/">Whonix</a></h3>
	<div class="option-p">
	<p>Based on a hardened Debian (Kicksecure), Whonix routes all it's traffic through
	the Tor network. It runs as two separated virtual machines, one being the gateway
	and the other the workstation. The workstation connects to the internet solely through
	the gateway which routes it's connections through Tor. This way, even if a malware
	infected the workstation, your real IP would never get compromised.</p>
	</div>
</div>
<div class="option">
	<img src="/images/tails-logo.png" class="logo"><h3><a href="https://tails.boum.org/">Tails</a></h3>
	<div class="option-p">
	<p>Tails is a live OS based on Debian which routes all it's connections through the
	Tor network. It runs from a USB stick and it never writes anything to your hard drive.
	It also resets itself after each reboot, leaving no evidence of any activity over your
	sessions. It's not security hardened as Whonix, so beware of malware.</p>
	</div>
</div>

<h3>Not linux</h3>
<div class="option">
	<img src="/images/freebsd-logo.png" class="logo"><h3><a href="https://www.freebsd.org/">FreeBSD</a></h3>
	<div class="option-p">
	<p>FreeBSD is the most popular of the *BSD family (which are totally independent from one each other). It's often used
	for servers because it's rock solid and stable. It also comes with a great init and daemon management. But most
	importantly, FreeBSD's ports have almost every package you'll ever need.</p>
	<p>If you're concerned with security and you love FreeBSD, consider <a href="https://hardenedbsd.org/">HardenedBSD</a>
	instead</p>
	</div>
</div>
<div class="option">
	<img src="/images/openbsd-logo.png" class="logo"><h3><a href="https://www.openbsd.org/">OpenBSD</a></h3>
	<div class="option-p">
	<p>OpenBSD is a UNIX-like OS which emphasize portability, standardization, correctness, proactive security
	and integrated cryptography. The popular OpenSSH software comes from OpenBSD, as other cryptography and security
	related software does.</p>
	</div>
</div>

<h2 id="mobile-os">Mobile Operative Systems</h2>
<p>Remember that mobile phones are a privacy nightmare, by design. Even if these OSs
are far better than the stock ones, they aren't a silver bullet. Consider moving most of your
online activity to your desktop or laptop.</p>
<h3>For Linux phones</h3>
<div class="option">
	<img src="/images/postmarketos-logo.png" class="logo"><h3><a href="https://postmarketos.org/">PostmarketOS</a></h3>
	<div class="option-p">
	<p>Based on Alpine Linux and with a variety of Desktop Environments to choose from
	it's probably the best mobile experience you can get. At the end you have the flexibility of
	desktop linux because it's that but ported to mobile. Every privacy tool 
	available for desktop can be used. It supports full disk encryption.</p>
	</div>
</div>
<div class="option">
	<img src="/images/ubports-logo.png" class="logo"><h3><a href="https://ubports.com/">UBports</a></h3>
	<div class="option-p">
	<p><i>Warning: Home page is Cloudflared</i></p>
	<p>UBports is a community maintained GNU/Linux distribution based on Ubuntu for mobile phones. Although
	PostmarketOS is generally better, UBports may have support for your device so consider checking their
	supported devices list.</p>
	</div>
</div>
<h3>Android custom ROMs</h3>
<div class="option">
	<img src="/images/divestos-logo.png" class="logo"><h3><a href="https://divestos.org/">DivestOS</a></h3>
	<div class="option-p">
	<p>DivestOS is derived from LineageOS, being more focused on security. It supports bootloader relocking,
	automatic kernel CVE patching, a custom hosts file blocking known advertising and malware domains,
	<a href="">Mull</a> which is their own fork of Firefox focused on privacy, it includes F-Droid by default
	and other various improvements while supporting a decent amount of devices.</p>
	</div>
</div>
<div class="option">
	<img src="/images/grapheneos-logo.png" class="logo"><h3><a href="https://grapheneos.org/">Graphene OS</a></h3>
	<div class="option-p">
	<p>Graphene OS is a custom ROM for Android with a strong focus in security. They only support
	newer Pixel phones.</p>
	</div>
</div>
<div class="option">
	<img src="/images/lineageos-logo.png" class="logo"><h3><a href="https://lineageos.org">LineageOS</a></h3>
	<div class="option-p">
	<p><i>Warning: Home page is Cloudflared</i></p>
	<p>LineageOS is a custom ROM which removes most of Google's spyware. They maintain their ROM for a extensive
	catalog of devices. Check if your phone is supported by <a href="https://divestos.org/">DivestOS</a> first, since it's a hardened
	and more private version of LineageOS.</p>
	</div>
</div>
<div class="option">
	<img src="/images/replicant-logo.png" class="logo"><h3><a href="https://www.replicant.us/" >Replicant</a></h3>
	<div class="option-p">
	<p>Replicant is the only fully free Android distribution. Every other Custom ROM has proprietary blobs in it.
	Unfortunately, it only supports a very few, specific devices. It's also the only custom ROM that does no unsolicited
	connections.</p>
	</div>
</div>

<h2 id="router">Router Firmware</h2>
<div class="option">
	<img src="/images/openwrt-logo.png" class="logo"><h3><a href="https://openwrt.org/">OpenWRT</a></h3>
	<div class="option-p">
	<p>A linux distribution prepared to be used as the firmware for your router. It supports a wide
	variety of routers, you should check if your router is supported and if not, consider buying
	one that is supported. A properly configured router is key for your privacy.</p>
	</div>
</div>
<div class="option">
	<img src="/images/openbsd-logo.png" class="logo"><h3><a href="https://www.openbsd.org/">OpenBSD</a></h3>
	<div class="option-p">
	<p>OpenBSD is a great, portable and security focused OS and one of it's best usecases is using it as a
	router. The site <a href="https://openbsdrouterguide.net/">Openbsdrouterguide.net</a> is a great resource
	to get started.</p>
	</div>
</div>
<div class="option">
	<img src="/images/pfsense-logo.png" class="logo"><h3><a href="https://www.pfsense.org/">Pfsense</a></h3>
	<div class="option-p">
	<p>Great Firewall solution, based in FreeBSD but it's probably more suited for enterprises or
	large networks. In any case, it's a fully featured firewall with a lot of options and additional
	packages</p>
	</div>
</div>
<div class="option">
	<img src="/images/librecmc-logo.png" class="logo"><h3><a href="https://librecmc.org/">LibreCMC</a></h3>
	<div class="option-p">
	<p>Based on OpenWRT, it's FSF endorsed and it's focused on low powered machines.</p>
	</div>
</div>

<h2 id="browser">Web browser</h2>
<div class="option">
	<img src="/images/librewolf-logo.png" class="logo"><h3><a href="https://librewolf.net">Librewolf</a></h3>
	<div class="option-p">
	<p>Librewolf is Firefox but private by default. Tweaking Firefox yourself may seem overwhelming
	for less advanced users or people who just want something out of the box. Librewolf provides the
	hardened Firefox experience without the need of changing anything.</p>
	</div>
</div>
<div class="option">
	<img src="/images/tor-browser-logo.png" class="logo"><h3><a href="https://www.torproject.org/">Tor Browser</a></h3>
	<div class="option-p">
	<p>The Tor Browser Bundle is a modified version of Firefox which is hardened against fingerprinting
	taking the approach of blending in, trying to make every user look the same. That's why they
	don't recommend installing add-ons in the Tor Browser or using other browser through the Tor Network.</p>
	</div>
</div>
<p>We recommend avoiding Chromium based browsers because we don't want a Chromium monopoly over the web. But
if you desperately need a Chromium based browser for certain pages, avoid Brave and use <a href="https://github.com/ungoogled-software/ungoogled-chromium">Ungoogled Chromium</a></p>

<h3 id="browser-addons">Browser Addons</h3>
<p><strong>Note these useful addons may improve your privacy, but some addons may impact your fingerprint, making your browser unique.</strong>
Be careful and try to keep low the number of installed addons.</p>

<div class="option">
	<img src="/images/ublockorigin-logo.png" class="logo"><h3><a href="https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/">uBlock Origin</a></h3>
	<div class="option-p">
	<p>A lightweight, efficient blocker which is easy on memory and CPU. It comes with several filter lists ready to use out-of-the-box.
	Best content blocker out there if you do not want to use more advanced and powerful tools like uMatrix.</p>
	</div>
</div>
<div class="option">
	<img src="/images/umatrix-logo.png" class="logo"><h3><a href="https://addons.mozilla.org/en-US/firefox/addon/umatrix/">Umatrix</a></h3>
	<div class="option-p">
	<p>uMatrix is a powerful tool for advanced control over your browser. It lets you selectively block Javascript, plugins or other
	resources and control third-party resources. It also features
	extensive privacy features like user-agent masquerading, referering blocking and so on. A personal favorite.</p>
	</div>
</div>
<div class="option">
	<img src="/images/canvasblocker-logo.png" class="logo"><h3><a href="https://addons.mozilla.org/en-US/firefox/addon/canvasblocker/">CanvasBlocker</a></h3>
	<div class="option-p">
	<p>Blocks or fakes the JS-API for modifying canvas to prevent Canvas-Fingerprinting.</p>
	</div>
</div>
<div class="option">
	<img src="/images/libredirect-logo.png" class="logo"><h3><a href="https://libredirect.github.io/index.html">Libredirect</a></h3>
	<div class="option-p">
	<p>Redirects YouTube, Twitter, Instagram... requests to alternative privacy friendly frontends and backends. Take a look at
	the <a href="#private-frontends">Private Frontends</a> section for more information.</p>
	</div>
</div>

<h3 id="mobile-browsers">Mobile Browsers</h3>
<p>Remember that being private in mobile phones is nearly impossible by design! Try to move your browsing habits
to your laptop or desktop</p>
<div class="option">
	<img src="/images/mull-logo.png" class="logo"><h3><a href="https://f-droid.org/en/packages/us.spotco.fennec_dos/">Mull</a></h3>
	<div class="option-p">
	<p>Mull is a privacy focused Firefox fork which has been deblobbed and hardened with the Tor Uplift project
	and with the arkenfox userjs. It's recommended over Chromium browsers because you are able to install
	uBlock Origin which outclass any other content blocker.</p>
	<p>Note that Chromium based browsers are more secure in Android than Firefox based ones.</p>
	</div>
</div>
<div class="option">
	<img src="/images/tor-browser-logo.png" class="logo"><h3><a href="" >Tor Browser</a></h3>
	<div class="option-p">
	<p>The Tor Browser Bundle is available for Android. It's also based on Firefox and connects
	exclusively through the Tor network.</p>
	</div>
</div>
<div class="option">
	<img src="/images/mulch2-logo.png" class="logo"><h3><a href="https://divestos.org/index.php?page=our_apps#mulch">Mulch</a></h3>
	<div class="option-p">
	<p>Mulch is a security oriented Chromium based browser. Many anti-features are disabled/removed and a handful
	security features are enabled/added. It's the only recommended Chromium browser for Android
	although Mull is preferrable in privacy terms because it has access to the powerful uBlock Origin.
	You'll need Divest OS' F-Droid repo to install it.</p>
	<p><i>We used to recommend Bromite but it has suffered from slow updates, Mulch is up to date, see
	<a href="https://divestos.org/misc/ch-dates.txt">this table</a></i>.</p>
	</div>
</div>


<h2 id="email">Email</h2>
<p>The fundamental requirements for a good and private email provider are two: sign in without providing personal
information and support for mail clients. This means that if they are paid and don't accept cash/Monero or if they
block Tor, it isn't even considered. Other important requirement is a good Privacy Policy.
Others taken into account are .onion domain, no JavaScript necessary,
etc. A detailed comparison of email providers is planned</p>
<div class="option">
	<img src="/images/posteo-logo.png" class="logo"><h3><a href="https://posteo.de">Posteo</a></h3>
	<div class="option-p">
	<p>Posteo is a paid provider and although you can't pay with Monero, you're able to pay with cash.
	It has been independently audited and it does not recollect IPs either when visiting their website
	or when retrieving/sending mails with your mail client. And it's completely powered by renewable energies.</p>
	</div>
</div>
<div class="option">
	<img src="/images/riseup-logo.png" class="logo"><h3><a href="https://riseup.net">RiseUp</a></h3>
	<div class="option-p">
	<p>Probably the best email provider in terms of privacy. It has an .onion domain, great privacy
	policy, maintained by donations, in operations for more than 20 years and support for mail clients.
	Highly recommended, it is invitation only tho.</a>
	</div>
</div>

<h2 id="email-clients">Email clients</h2>
<p>We recommend you to choose POP3 when configuring your email client. This will save your emails in your computer for
offline use and you might be able to delete them from the server once downloaded.</p>
<div class="option">
	<img src="/images/clawsmail-logo.png" class="logo"><h3><a href="https://www.claws-mail.org/">Claws Mail</a></h3>
	<div class="option-p">
	<p>Best GUI email client by far. Ligthweight, nice UI, excellent PGP support, no unsolicited connections
	and multi-account.</p>
	</div>
</div>
<div class="option">
	<img src="/images/neomutt-logo.png" class="logo"><h3><a href="https://neomutt.org/">Neomutt</a></h3>
	<div class="option-p">
	<p>The terminal wizard's email client. Probably the best terminal mail client in existence.
	<a href="https://muttwizard.com/">Muttwizard</a> makes setting Neomutt up painless.</p>
	</div>
</div>

<h2 id="im">Instant Messengers</h2>
<div class="option">
	<img src="/images/xmpp-logo.png" class="logo"><h3><a href="https://xmpp.org">XMPP</a></h3>
	<div class="option-p">
	<p>XMPP has existed for a long time. It's federated, it supports multiple encryption
	methods, it's easy to self-host, there are various implementations and there isn't
	a corporation behind. Probably the best Instant Messenger available.</p>
	<p>Check our recommended <a href="#xmpp-client">XMPP clients</a>.</p>
	</div>
</div>
<div class="option">
	<img src="/images/deltachat-logo.png" class="logo"><h3><a href="https://delta.chat/">Deltachat</a></h3>
	<div class="option-p">
	<p>Deltachat uses email. Yes, email. You can use it with any email provider and don't
	worry because your messages will be end to end encrypted. It's an interesting
	approach to a decentralized instant messenger.</p>
	</div>
</div>

<h2 id="anon-im">Anonymous IM</h2>
<div class="option">
	<img src="/images/xmpp-logo.png" class="logo"><h3><a href="https://xmpp.org">XMPP</a></h3>
	<div class="option-p">
	<p>XMPP is able to federate through Tor and I2P, making it a perfect candidate as an anonymous
	instant messenger, since you would be able to host your own server without revealing personal
	information or just join a darknet XMPP server operated by someone you trust.</p>
	</div>
</div>
<div class="option">
	<img src="/images/briar-logo.png" class="logo"><h3><a href="https://briarproject.org/">Briar</a></h3>
	<div class="option-p">
	<p>Briar is a peer to peer messenger which can work without a SIM card in the phone,
	just through WiFi or Bluetooth.
	That's the main advantage it offers. It's onion routed and end 2 end encrypted.
	The desktop client isn't good, but you may find it useful for certain situations like
	riots.</p>
	</div>
</div>
<div class="option">
	<img src="/images/cwtch-logo.png" class="logo"><h3><a href="https://cwtch.im/">Cwtch</a></h3>
	<div class="option-p">
	<p>Built to be metadata resistant, works over Tor and it's end to end encrypted. It's also
	self-hostable. Although there's only one implementation right now. It looks good.</p>
	</div>
</div>

<h2 id="group-chat">Group chat</h2>
<div class="option">
	<img src="/images/irc-logo.png" class="logo"><h3><a href="https://en.wikipedia.org/wiki/Internet_Relay_Chat">IRC</a></h3>
	<div class="option-p">
	<p>IRC is the perfect tool for group communication. Simple, fast, well supported and there are
	a lot of clients to choose from. You don't need an account to access an IRC channel, which is nice.
	It can work over I2P if you need anonymity. If you need more advanced features like voice or video,
	look in <a href="#voice-video">this section</a>. IRC is just enough for group communication and it has been
	the gold standard for more than 20 years.</p>
	<p>Check our recommended <a href="#irc-clients">IRC clients</a>.</p>
	</div>
</div>

<h2 id="voice-video">Voice & Video</h2>
<div class="option">
	<img src="/images/mumble-logo.png" class="logo"><h3><a href="https://www.mumble.info/">Mumble</a></h3>
	<div class="option-p">
	<p><i>Voice only</i></p>
	<p>Mumble is a free, open source, low latency, high quality voice chat application.
	Mumble is the gold standard as a private, secure and libre voice chat.
	</p>
	<p>
	Note that Mumble isn't end to end encrypted, since it's thought to be self-hosted.
	</p>
	</div>
</div>
<div class="option">
	<img src="/images/jami-logo.png" class="logo"><h3><a href="https://jami.net/">Jami</a></h3>
	<div class="option-p">
	<p>GNU Jami is a peer to peer messenger which supports voice and video. It's end to end
	encrypted and it doesn't need any server to work.</p>
	</div>
</div>
<div class="option">
	<img src="/images/jitsi-logo.png" class="logo"><h3><a href="https://jitsi.org/" >Jitsi</a></h3>
	<div class="option-p">
	<p>Jitsi is a set of free software projects that allows you to easily build and deploy
	secure videoconferencing solutions. It's really easy to self-host or you can use
	a public instance</p>
	</div>
</div>

<h2 id="social">Social Networks</h2>
<p>The best social network is your own blog with an RSS feed. Please consider that if you
have something to say. In Social Media, even the free software ones, posts
are ephemeral and they will stop reaching people after they are a few days old. This is by design.
It is good for trivial conversations or for sharing your cat pics but it should never
replace blogs.</p>
<div class="option">
	<img src="/images/mastodon-logo.png" class="logo"><h3><a href="https://joinmastodon.org/">Mastodon</a></h3>
	<div class="option-p">
	<p>Microblogging platform, similar to Twitter, but decentralized. It is not owned by anyone since
	there are multiple servers operated by different people and you could set up your own. It's free software and
	it's part of the <a href="https://en.wikipedia.org/wiki/Fediverse">Fediverse</a>.</p>
	</div>
</div>
<div class="option">
	<img src="/images/pleroma-logo.png" class="logo"><h3><a href="https://pleroma.social/">Pleroma</a></h3>
	<div class="option-p">
	<p>Pleroma is another microblogging platform, with a different UI and more features than Mastodon,
	like reactions, private chats and more. Since it's part of the <a href="https://en.wikipedia.org/wiki/Fediverse">Fediverse</a>, you can
	interact with people in Mastodon without any problem.</p>
	</div>
</div>
<div class="option">
	<img src="/images/pixelfed-logo.png" class="logo"><h3><a href="https://pixelfed.org/">Pixelfed</a></h3>
	<div class="option-p">
	<p>Also part of the <a href="https://en.wikipedia.org/wiki/Fediverse">Fediverse</a>,
	Pixelfed is image focused, being a good alternative to Instagram. Even if Pixelfed is more
	"Instagram-like", it federates with Pleroma and Mastodon. This means that you can follow
	and interact with people in Mastodon or Pleroma from your Pixelfed account.</p>
	</div>
</div>

<h2 id="blog">Blog software</h2>
<div class="option">
	<img src="/images/hugo-logo.png" class="logo"><h3><a href="https://gohugo.io/">Hugo</a></h3>
	<div class="option-p">
	<p>Hugo is one of the most popular open-source static site generators. With its amazing speed and flexibility,
	Hugo makes building websites fun again.</p>
	</div>
</div>
<div class="option">
	<img src="/images/blogc-logo.png" class="logo"><h3><a href="https://blogc.rgm.io/">Blogc</a></h3>
	<div class="option-p">
	<p>Blogc is a simple, portable, powerful and self-contained blog compiler. It's thought to be used
	with make or with it's own version, blogc-make.</p>
	</div>
</div>

<h2 id="search-engine">Search Engines</h2>
<!-- 
<p>Read our in depth <a href="/search-engines.html">comparison of search engines</a> for a more detailed analysis.</p>
(NOT READY YET)
-->
<p>Avoid Duckduckgo and Brave (more about this in the future). Use one of the options below instead.
We highly encourage the use of the .onion mirrors, this is the best way to maximize privacy.</p>

<div class="option">
	<img src="/images/searx-logo.png" class="logo"><h3><a href="https://searx.space/">SearX / SearXNG</a></h3>
	<div class="option-p">
	<p>SearX and it's fork SearXNG are a self-hosted metasearch engine which fetch results from
	other search engines. This allows you to be private while getting results from different
	sources and avoiding censorship. It's probably the best option when it comes to search
	engines because any other search engine you like, it may be added to SearX.</p>
	<p>Be sure to avoid Cloudflared instances or even better: use a .onion instance.</p>
	<p>Note that SearX results may vary depending on the configuration of the instance, 
	you'll have to test a few to choose the best one</p>
	</div>
</div>
<div class="option">
	<img src="/images/metager-logo.png" class="logo"><h3><a href="http://metagerv65pwclop2rsfzg4jwowpavpwd6grhhlvdgsswvo6ii4akgyd.onion/">Metager</a></h3>
	<div class="option-p">
	<p><i>Use only the .onion service, the clearnet one stores your IP</i></p>
	<p>Possibly the best search engine that uses the Bing results. It's free software,
	there's an option to open the sites in an "anonymous" or sanitized way,
	and decent privacy policy if you use the .onion domain. Works flawlessly without JS.</p>
	<p><i>Note that it requires the use of iframes and won't work on text based browsers like lynx</i></p>
	</div>
</div>
<div class="option">
	<img src="/images/mojeek-logo.png" class="logo"><h3><a href="https://mojeek.com">Mojeek</a></h3>
	<div class="option-p">
	<p>An independent search engine with it's own index, decent privacy policy
	and acceptable quality of results. A decent overall option, although better
	used through SearX.</p>
	</div>
</div>
<div class="option">
	<img src="/images/alexandria-logo.png" class="logo"><h3><a href="https://alexandria.org">Alexandria</a></h3>
	<div class="option-p">
	<p>Other independent search engine with it's own index, based on common crawl. The engine
	is free software and written in C++. The results quality is surprisingly decent. They don't
	seem to store anything by default.</p>
	</div>
</div>

<h2 id="dns-provider">DNS resolver</h2>
<p>Check the <a href="#dns-client">DNS clients</a> section. Those have multiple advantages, especially for privacy. They are
a superior option and it's highly preferrable to use one of them instead of trusting a provider from this list.</p>
<div class="option">
	<img src="/images/blahdns-logo.png" class="logo"><h3><a href="https://blahdns.com">BlahDNS</a></h3>
	<div class="option-p">
	<p>A hobby Adblock DNS project with DoH, DoT, DoQ, DNSCryptv2 support, DNSSEC ready, Yggdrasil,
	OpenNIC support, prevents CNAME Cloacking and claims to store no logs.</p>
	</div>
</div>
<div class="option">
	<img src="/images/mullvad-logo.png" class="logo"><h3><a href="https://mullvad.net" >Mullvad</a></h3>
	<div class="option-p">
	<p>Mullvad provides their DNS services for free. They claim to store no logs</p>
	</div>
</div>

<h2 id="vpn">VPN provider</h2>
<p><i><strong>Warning: VPNs don't make you anonymous! Use <a href="#anon">Tor</a> instead</strong></i></p> 
<p>VPNs shouldn't be blindly trusted! They are good for hiding your traffic from your ISP. But
you can't really know if they're keeping logs or not, they may be analysing your
whole traffic. So be careful and consider using Tor instead. They are useful for <a href="#torrent">torrenting</a>.</p>
<div class="option">
	<img src="/images/mullvad-logo.png" class="logo"><h3><a href="https://mullvad.net">Mullvad</a></h3>
	<div class="option-p">
	<p>Mullvad is always the recommended VPN for privacy. They claim to store no logs, that they
	not share any data with third parties and they accept Monero and cash payments. Probably the
	closest you can get to a good VPN provider.
	</div>
</div>
<div class="option">
	<img src="/images/ivpn-logo.png" class="logo"><h3><a href="https://www.ivpn.net/">IVPN</a></h3>
	<div class="option-p">
	<p>They claim to store no logs and they accept Monero and cash. They support Wireguard and
	IPv6. It seems to be a good VPN provider overall.</p>
	</div>
</div>
<div class="option">
	<img src="/images/njalla-logo.png" class="logo"><h3><a href="https://njal.la/vpn/">Njalla</a></h3>
	<div class="option-p">
	<p>Njalla offers no logs VPN services. Monero payment is accepted. They offer both Wireguard and
	OpenVPN and the price is reasonable.
	The people behind Njalla have a good reputation because they've run other privacy related
	services in the past.</p>
	</div>
</div>
<div class="option">
	<img src="/images/xoevo-logo.png" class="logo"><h3><a href="https://xeovo.com">Xeovo</a></h3>
	<div class="option-p">
	<p><i>Warning: Home page is Cloudflared</i></p>
	<p>Xeovo can also be considered a good VPN provider: Monero is available for payment, they claim
	to no store logs and that they don't share data. The main advantage
	is that they provide shadowsocks proxies for countries that block VPNs. But it's Cloudflared,
	so better avoid it if you don't need any of it's exclusive features</p>
	</div>
</div>
<h2 id="hosting">Hosting & Domain</h2>
	<h3>Hosting</h3>
<div class="option">
	<img src="/images/njalla-logo.png" class="logo"><h3><a href="https://njal.la/">Njalla</a></h3>
	<div class="option-p">
	<p>Njalla requires non personal information to sign up, it has an <a href="http://njallalafimoej5i4eg7vlnqjvmb6zhdh27qxcatdn647jtwwwui3nad.onion/">onion domain</a>
	and they allow payment in Monero. But their site requires JavaScript and their VPSs are expensive</p>
	</div>
</div>
<div class="option">
	<img src="/images/1984-logo.png" class="logo"><h3><a href="https://1984.hosting/">1984</a></h3>
	<div class="option-p">
	<p>Icelandic hosting provider. Their prices are good and they accept Monero as a payment. No onion domain.</p>
	</div>
</div>
	<h3>Domain</h3>
	<p>We encourage you to also host your site in Tor and I2P. Those require no domain!</p>
<div class="option">
	<img src="/images/njalla-logo.png" class="logo"><h3><a href="https://njal.la/">Njalla</a></h3>
	<div class="option-p">
	<p>Njalla is also a domain registrar. Remember to use their <a href="http://njallalafimoej5i4eg7vlnqjvmb6zhdh27qxcatdn647jtwwwui3nad.onion/">onion domain</a>.</p>
	</div>
</div>
<h2 id="cloud">"Cloud" Storage</h2>
<p>Remember that there's no cloud, just other people computers. Or even worse, mega corporation's computers.
Do not trust anyone with your personal data and host your "cloud" storage yourself. If you don't have the knowledge,
you may pay a system admin to manage it for you.</p>

<div class="option">
	<img src="/images/nextcloud-logo.png" class="logo"><h3><a href="https://nextcloud.com/">Nextcloud</a></h3>
	<div class="option-p">
	<p>Nextcloud is a software suite that will let you create your own "cloud" storage.
	It's intended to be self-hosted, and this is our recommendation. Although there are also
	some Nextcloud hosting providers which will manage hosting for you. In either case, be
	sure to enable <a href="https://nextcloud.com/endtoend/">end to end encryption</a>, which Nextcloud supports.</p>
	</div>
</div>
<div class="option">
	<img src="/images/seafile-logo.png" class="logo"><h3><a href="https://github.com/haiwen/seafile">Seafile</a></h3>
	<div class="option-p">
	<p>Seafile is a high performance file syncing and sharing software. It also comes with an integrated markdown wiki.
	It has support for every platform and it offers better performance than Nextcloud. It also supports encryption. 
	The company behind Seafile offers hosting, but we recommend self-hosting instead.</p>
	</div>
</div>
<h2 id="video-hosting">Video Hosting</h2>
<div class="option">
	<img src="/images/peertube-logo.png" class="logo"><h3><a href="https://joinpeertube.org/">Peertube</a></h3>
	<div class="option-p">
	<p>PeerTube aspires to be a decentralized and free/libre alternative to video broadcasting services.
	PeerTube is not meant to become a huge platform that would centralize videos from all around the world.
	Rather, it is a network of inter-connected small videos hosters.
	Anyone with a modicum of technical skills can host a PeerTube server, aka an instance. Each
	instance hosts its users and their videos. In this way, every instance is created, moderated and maintained
	independently by various administrators.</p>
	</div>
</div>

<h2 id="private-frontends">Private frontends</h2>
<p>Private frontends acts as a proxy for viewing content of sites like YouTube, Twitter, etc without needing an account or being spied on.
We encourage their use instead of visiting the "official" sites, since those are terrible for your digital privacy.</p>
<p>If you use Librewolf or Ungoogled Chromium, try <strong><a href="https://libredirect.github.io/">Libredirect</a> which
will automatically manage privacy frontends and redirections for you</strong>. If you use Pale Moon you
may need to setup custom rules in URL rewriter.</p>
<div class="option">
	<img src="/images/invidious-logo.png" class="logo"><h3><a href="https://invidious.io/">Invidious</a></h3>
	<div class="option-p">
	<p>Invidious is a private frontend for Youtube which can work without JS.</p> 
	<p><i>Note that most Invidious instances do not act as a proxy for the videos by default.
	You may enable this in Invidious' settings.</i></p>
	</div>
</div>
<div class="option">
	<img src="/images/twitter-logo.png" class="logo"><h3><a href="https://nitter.net">Nitter</a></h3>
	<div class="option-p">
	<p>JavaScript-less private frontend for Twitter</p>
	</div>
</div>
<div class="option">
	<img src="/images/proxitok-logo.png" class="logo"><h3><a href="https://github.com/pablouser1/ProxiTok">ProxiTok</a></h3>
	<div class="option-p">
	<p>Private frontend for Tiktok, just in case you think there's worth content there.</p>
	</div>
</div>
<div class="option">
	<img src="/images/teddit-logo.png" class="logo"><h3><a href="https://codeberg.org/teddit/teddit">Teddit</a> / <a href="https://github.com/spikecodes/libreddit">Libreddit</a></h3>
	<div class="option-p">
	<p>JS-free private frontends for Reddit. Teddit has a classical look, better than the old Reddit. Libreddit has
	a more modern UI. Teddit does not require JS at all, Libreddit requires JS for playing videos with audio.</p>
	</div>
</div>
<div class="option">
	<img src="/images/imgur-logo.png" class="logo"><h3><a href="https://codeberg.org/video-prize-ranch/rimgo">Rimgo</a></h3>
	<div class="option-p">
	<p>Private frontend for the image hosting site Imgur.</p>
	</div>
</div>
<div class="option">
	<img src="/images/medium-logo.png" class="logo"><h3><a href="https://sr.ht/~edwardloveall/scribe/">Scribe</a></h3>
	<div class="option-p">
	<p>A private frontend for Medium. Medium has been trying to centralize the blog ecosystem which
	has always been decentralized. Please, do not use Medium.</p>
	</div>
</div>
<div class="option">
	<img src="/images/quetre-logo.png" class="logo"><h3><a href="https://github.com/zyachel/quetre">Quetre</a></h3>
	<div class="option-p">
		<p>Private frontend for Quora.</p>
	</div>
</div>
<div class="option">
	<img src="/images/simplytranslate-logo.png" class="logo"><h3><a href="https://simple-web.org/projects/simplytranslate.html">SimplyTranslate</a></h3>
	<div class="option-p">
	<p>A simple and lightweight frontend for various translation engines: Google, ICIBA, Reverso and LibreTranslate.</p>
	</div>
</div>
<div class="option">
	<img src="/images/libremdb-logo.png" class="logo"><h3><a href="https://libremdb.herokuapp.com/about">Libremdb</a></h3>
	<div class="option-p">
	<p>A JS-free proxy for IMDb.</p>
	</div>
</div>
<div class="option">
	<img src="/images/fandom-logo.png" class="logo"><h3><a href="https://codeberg.org/su/ProxyWikia">ProxyWikia</a></h3>
	<div class="option-p">
	<p>A private frontend for Fandom.com, which hosts wikis mainly on entertainment topics. Fandom is centralizing the wikis
	of thousands of topics, it's also full of ads.</p>
	</div>
</div>
<div class="option">
	<img src="/images/lbry-logo.png" class="logo"><h3><a href="https://codeberg.org/librarian/librarian">Librarian</a></h3>
	<div class="option-p">
	<p>A private frontend for the bloated and spyware Odyssey.</p>
	</div>
</div>
<div class="option">
	<img src="/images/wikipedia-logo.png" class="logo"><h3><a href="https://codeberg.org/orenom/Wikiless">Wikiless</a></h3>
	<div class="option-p">
	<p>If, for whatever reason, you do not want to give Wikipedia your IP address, Wikiless is a private frontend with an nicer UI for desktop.
	The main usecase is that Wikipedia does not have an .onion mirror. You may use Wikiless instead.</p>
	</div>
</div>

<h2 id="password">Password Managers</h2>
<p>If you don't know what a password manager is, read our <a href="/guides/password-managers.html">Easy Introduction to Password Managers</a></p>
<div class="option">
	<img src="/images/keepassxc-logo.png" class="logo"><h3><a href="https://keepassxc.org/">KeePassXC</a></h3>
	<div class="option-p">
	<p>Our main recommendation. KeePassXC provides an easy to use GUI to store your passwords locally in strongly
	encrypted databases. Your passwords never leave your device. You may use  <a href="#sync">file synching tools</a>
	to sync your password database between devices without trusting a third party server.
	Securely store passwords using industry standard encryption, quickly auto-type them into desktop programs,
	and use ther browser extension to log into websites. It's cross-platform, with compatible apps for mobile phones</p>
	</div>
</div>
<div class="option">
	<img src="/images/bitwarden-logo.png" class="logo"><h3><a href="https://bitwarden.com/">Bitwarden</a></h3>
	<div class="option-p">
	<p>Bitwarden synchronizes your passwords between all your devices. Your passwords are stored encrypted in
	a server. While Bitwarden free plan is good enough, we strongly advise you to self-host or just use an off-line
	option like KeePassXC.</p>
	<p>Note that depending on your threat model, <strong>you might be better using an off-line solution like KeePassXC</strong>.
	Self-hosting requires skills to secure it, all your passwords and accounts are critical data.
	And when using official Bitwarden accounts, your vault is encrypted, but they need to store
	some data in order to provide their services. This data could be requested by law enforcement.</p>
	</div>
</div>
<div class="option">
	<img src="/images/pass-logo.png" class="logo"><h3><a href="https://www.passwordstore.org/">Pass</a></h3>
	<div class="option-p">
	<p>Pass is the standard Unix password manager. Password management should be simple and follow Unix philosophy.
	With pass, each password lives inside of
	a gpg encrypted file whose filename is the title of the website or resource that requires the password. These
	encrypted files may be organized into meaningful folder hierarchies, copied from computer to computer, and,
	in general, manipulated using standard command line file management utilities.</p>
	<p>The best password manager for terminal wizards. It comes with a handy dmenu script.</p>
	</div>
</div>

<h2 id="dns-client">DNS clients</h2>
<p><i><strong>Encrypting your DNS <a href="https://security.stackexchange.com/questions/166952/is-ssl-dnscrypt-enough-to-hide-visited-domains-from-my-isp">does NOT</a> hide your traffic from your ISP!</strong> Use <a href="anon">Tor</a> or a <a href="vpn">VPN</a> for that.</i></p>
<div class="option">
	<img src="/images/dnscryptproxy-logo.png" class="logo"><h3><a href="https://github.com/DNSCrypt/dnscrypt-proxy">Dnscrypt-proxy</a></h3>
	<div class="option-p">
	<p>Our top choice. A flexible DNS proxy, with support for modern encrypted DNS protocols such as DNSCrypt v2, DNS-over-HTTPS,
	Anonymized DNSCrypt and ODoH (Oblivious DoH).
	In order to maximize your privacy, we recommend that you <strong>use only the Anonymized DNSCrypt protocol</strong>.</p>
	</div>
</div>
<div class="option">
	<img src="/images/unbound-logo.png" class="logo"><h3><a href="https://nlnetlabs.nl/projects/unbound/about/">Unbound</a></h3>
	<div class="option-p">
	<p>Unbound is a validating, recursive, caching DNS resolver. It is designed to be fast and lean and
	incorporates modern features based on open standards. Unbound has been
	<a href="https://ostif.org/our-audit-of-unbound-dns-by-x41-d-sec-full-results/">rigorously audited</a>.
	We suggest to use DNS-over-TLS.
	</p>
	</div>
</div>

<h2 id="anon">Anonymizing Networks</h2>
<p>These networks are designed to make you anonymous. Also known as "darknets", although
this term is usually associated in mainstream media with criminal activity, which isn't the purpose of these networks.
They are frequently used by scientists, journalists and activists. They are mainly used to
circumvent censorship and surveillance by those who need it and they play a key role to protect
free speech on the internet.</p>
<div class="option">
	<img src="/images/i2p-logo.png" class="logo"><h3><a href="http://geti2p.org/en/">I2P</a></h3>
	<div class="option-p">
	<p>The Invisible Internet Project (I2P) is a fully encrypted private network layer.
	The network is people powered. Peers make a portion of their resources, particularly bandwidth,
	available to other network participants. This allows the network to function without relying on centralized servers.
	So unlike Tor, I2P is completely decentralized. No one can see where traffic is coming from, where
	it is going, or what the contents are. Additionally I2P offers resistance to pattern recognition and blocking by censors.
	</p>
	</div>
</div>
<div class="option">
	<img src="/images/tor-logo.png" class="logo"><h3><a href="https://www.torproject.org">Tor</a></h3>
	<div class="option-p">
	<p>The Tor network is a group of volunteer-operated servers that allows people to improve their privacy
	and security on the Internet. You use the Tor network by connecting through a series of virtual tunnels
	rather than making a direct connection to the host you're trying to connect to, making you
	anonymous and circumventing censorship.
	</p>
	</div>
</div>
<div class="option">
	<img src="/images/freenet-logo.png" class="logo"><h3><a href="https://freenetproject.org/">Freenet</a></h3>
	<div class="option-p">
	<p>Freenet is a peer-to-peer platform for censorship-resistant and privacy-respecting
	publishing and communication.
	It uses a decentralized distributed data store to keep and deliver information, you
	don't host your website in a server for Freenet, you just need to upload it to the
	distributed network.
	</p>
	</div>
</div>
<div class="option">
	<img src="/images/gnunet-logo.png" class="logo"><h3><a href="https://www.gnunet.org/en/">GNUnet</a></h3>
	<div class="option-p">
	<p> GNUnet is a network protocol stack for building secure, distributed, and privacy-preserving applications.
	The framework offers link encryption, peer discovery, resource allocation, communication over many transports
	(such as TCP, UDP, HTTP, HTTPS, WLAN and Bluetooth) and various basic peer-to-peer algorithms for routing,
	multicast and network size estimation.
	</p>
	</div>
</div>
<div class="option">
	<img src="/images/yggdrasil-logo.png" class="logo"><h3><a href="https://yggdrasil-network.github.io/">Yggdrasil</a></h3>
	<div class="option-p">
	<p>Yggdrasil is an overlay network implementation of a new routing scheme for mesh networks. It is designed
	to be a future-proof decentralised alternative to the structured routing protocols commonly used today on
	the Internet and other networks.
	It provides end-to-end encrypted IPv6 routing between all network participants. Peerings between nodes can
	be configured using TCP/TLS connections over local area networks, point-to-point links or the Internet. Even
	though the Yggdrasil Network provides IPv6 routing between nodes, peering connections can be set up over either
	IPv4 or IPv6.</p>
	<p>Note that Yggdrasil's goal isn't to provide anonymity.</p>
	</div>
</div>
<h2 id="encryption">File Encryption</h2>
<div class="option">
	<img src="/images/gnupg-logo.png" class="logo"><h3><a href="https://gnupg.org">GnuPG</a></h3>
	<div class="option-p">
	<p>GnuPG is a GPL-licensed implementation of OpenPGP. It let's you cryptograpically sign and encrypt files.
	It has been the standard for a long time. One of it's uses is, for example, email encryption.</p>
	<p>When creating a new key, we suggest using future-default, like this example:</p>
	<pre><code>gpg --quick-gen-key someone@gnu.org future-default</pre></code>
	<p>That option will use modern ciphers based on elliptic curves.</p>
	</div>
</div>
<div class="option">
	<img src="/images/tomb-logo.png" class="logo"><h3><a href="https://www.dyne.org/software/tomb/">Tomb</a></h3>
	<div class="option-p">
	<p>Tomb is an is a simple shell script which acts as a wrapper for <a href="https://wiki.archlinux.org/title/LUKS">dm-crypt</a>.
	Tomb aims to be a really simple to use software to manage "encrypted directories", called tombs. A tomb can only be opened
	if you both have a keyfile and you know the password. It also has advanced features, like steganography. </p>
	<p>Note that Tomb only works on GNU/Linux.</p>
	</div>
</div>
<div class="option">
	<img src="/images/picocrypt-logo.png" class="logo"><h3><a href="https://github.com/HACKERALERT/Picocrypt">Picocrypt</a></h3>
	<div class="option-p">
	<p>Picocrypt is a small and portable encryption tool which uses the XChaCha20 cipher to encrypt your files. 
	It provides the user with an easy to use GUI.</p>
	</div>
</div>

<h2 id="files">File Sharing & Sync</h2>
<h3>File Sharing</h3>
<div class="option">
	<img src="/images/croc-logo.png" class="logo"><h3><a href="https://github.com/schollz/croc">Croc</a></h3>
	<div class="option-p">
	<p>Croc is a tool that allows any two computers to securely transfer files and directories.
	Croc uses relays for transmitting data instead of uploading and downloading to a server, this makes Croc faster
	than other alternatives.
	It's E2E encrypted, cross-platform, ipv6-first, allows for multiple files, supports proxies and it's easy to use.
	We encourage you to host your own relay, which is stupidly simple to do.</p>
	</div>
</div>
<div class="option">
	<img src="/images/onionshare-logo.png" class="logo"><h3><a href="https://onionshare.org/">Onion Share</a></h3>
	<div class="option-p">
	<p>Onion Share creates an onion web server which allows you to easily transfer files,
	chatting and even hosting websites while remaining anonymous. Everything is routed through
	the Tor network. It's E2EE.</p>
	</div>
</div>

<h3 id="sync">File Sync</h3>
<div class="option">
	<img src="/images/syncthing-logo.png" class="logo"><h3><a href="https://syncthing.net/">Syncthing</a></h3>
	<div class="option-p">
	<p>Syncthing is a peer-to-peer continuous file synchronization utility. It is used to
	synchronize files between two or more devices over the local network or the internet. Syncthing
	does not need a central server. That makes it perfect to sync your files between your desktop and laptop, or
	your laptop and your mobile phone without sending your data to a third party server.</p>
	<p><i>Warning: According to the Debian Wiki, <a href="https://wiki.debian.org/PrivacyIssues">Syncthing collects the following data</a>:
	data transfer volume, unique ID submission, version check and lots more.
	<strong>Remember to opt out</strong> of "anonymous data collection"</i>.</p> 
	</div>
</div>
<h2 id="notes">Taking Notes</h2>
<div class="option">
	<img src="/images/joplin-logo.png" class="logo"><h3><a href="https://joplinapp.org/">Joplin</a></h3>
	<div class="option-p">
	<p>Fully-featured note-taking and to-do program which can handle a large number of markdown notes
	organized into notebooks and tags. It offers E2EE. We recommend you to sync it with your own 
	<a href="#cloud">Nextcloud</a> server, so that you're in control of your data.</p>
	</div>
</div>
<div class="option">
	<img src="/images/orgmode-logo.png" class="logo"><h3><a href="https://orgmode.org/">Org Mode</a></h3>
	<div class="option-p">
	<p>A GNU Emacs major mode for keeping notes, authoring documents, computational notebooks, literate programming,
	maintaining to-do lists, planning projects, and more — in a fast and effective plain text system.
	Note that it is not encrypted since it's intended to be stored on your own device with full disk encryption.
	Sync is possible using <a href="#sync">file sync</a> tools</a></p>
	</div>
</div>
<div class="option">
	<img src="/images/nb-logo.png" class="logo"><h3><a href="https://github.com/xwmx/nb">nb</a></h3>
	<div class="option-p">
	<p>CLI first plain text note‑taking, bookmarking, and archiving with linking, tagging, filtering, search,
	Git versioning & syncing, Pandoc conversion, + more, in a single portable script. It supports encryption
	with OpenPGP. A personal favorite.</p>
	</div>
</div>


<h2 id="metadata">Metadata Removal</h2>
<p>Metadata in some file types, especially in images, can reveal a lot about your private data: exact hour it was taken,
location data, device used, etc. It's important to remove this metadata before sharing your files.</p>
<div class="option">
	<img src="/images/metadatacleaner-logo.png" class="logo"><h3><a href="https://metadatacleaner.romainvigier.fr/">Metadata Cleaner</a></h3>
	<div class="option-p">
	<p>A simple to use graphical tool that let's you view and remove the metadata of various file types.</p>
	</div>
</div>
<div class="option">
	<img src="/images/exiftool-logo.png" class="logo"><h3><a href="https://exiftool.org">ExifTool</a></h3>
	<div class="option-p">
	<p>The classic Perl command line tool for manipulating metadata. It's quite powerful and
	it has a lot of options, but for our purposes a single command will do the job:</p>
	<pre><code>exiftool -all= *.file_extension</code></pre>
	<p>This will remove all the metadata of the files .file_extension in your current directory.</p>
	</div>
</div>

<h2 id="xmpp-client">XMPP Clients</h2>
<p><strong>Remember to enable encryption in your client settings!</strong> Every client we recommend supports OMEMO encryption</p>
<div class="option">
	<img src="/images/dino-logo.png" class="logo"><h3><a href="https://dino.im/">Dino</a></h3>
	<div class="option-p">
	<p>Dino is a modern open-source chat client for the desktop (Linux, BSD). It focuses on providing a clean and reliable
	Jabber/XMPP experience while having your privacy in mind.</p>
	</div>
</div>
<div class="option">
	<img src="/images/conversations-logo.png" class="logo"><h3><a href="https://conversations.im/">Conversations</a></h3>
	<div class="option-p">
	<p>Conversations is a Jabber/XMPP client for Android 5.0+ smartphones that has been optimized to provide a unique
	mobile experience. Free on <a href="https://f-droid.org/en/packages/eu.siacs.conversations/">F-Droid</a>.</p>
	</div>
</div>
<div class="option">
	<img src="/images/profanity-logo.png" class="logo"><h3><a href="https://profanity-im.github.io/">Profanity</a></h3>
	<div class="option-p">
	<p>Profanity is a console based XMPP client written in C using ncurses and libstrophe, inspired by Irssi.
	Available on Linux, FreeBSD, OpenBSD, OSX, Windows and Android (Termux).</p>
	</div>
</div>

<h2 id="irc-client">IRC Clients</h2>
<div class="option">
	<img src="/images/hexchat-logo.png" class="logo"><h3><a href="https://hexchat.github.io/">HexChat</a></h3>
	<div class="option-p">
	<p>HexChat is a feature-rich and easy to use GUI IRC client. Our top recommendation for people that don't like
	the terminal.</p>
	</div>
</div>
<div class="option">
	<img src="/images/irssi-logo.png" class="logo"><h3><a href="https://irssi.org/">Irssi</a></h3>
	<div class="option-p">
	<p>Irssi is a modular text mode chat client. It comes with IRC support built in. Irssi is completely themeable.
	Every single message can be themed. It's also highly scriptable and there are a lot of scripts available for extending it.</p>
	</div>
</div>
<div class="option">
	<img src="/images/irc-logo.png" class="logo"><h3><a href="https://git.causal.agency/catgirl/about/">Catgirl</a></h3>
	<div class="option-p">
	<p>Catgirl is a TLS-only terminal IRC client. It has a focus on minimalism and security. It comes with sandboxing
	by default on OpenBSD.</p>
	</div>
</div>


<h2 id="torrent">Torrent Clients</h2>
<p>Torrenting is prosecuted in some countries. Consider using a <a href="#vpn">VPN</a>
to avoid legal problems if you're torrenting. Remember that VPNs do not provide anonymity!</p>
<div class="option">
	<img src="/images/qbittorrent-logo.png" class="logo"><h3><a href="https://www.qbittorrent.org/">Qbittorrent</a></h3>
	<div class="option-p">
	<p>A multiplatform Bittorrent client with a lot of features. It has a uTorrent like UI but without
	the adware or the spyware that uTorrent has. Probably the best torrent client for those that have
	only used uTorrent.</p>
	</div>
</div>
<div class="option">
	<img src="/images/transmission-logo.png" class="logo"><h3><a href="https://transmissionbt.com/">Transmission</a></h3>
	<div class="option-p">
	<p>A lightweight and feature complete Bittorrent client. It has a GTK frontend
	for those that prefer GUI clients, but it also has a CLI version.</p>
	</div>
</div>
<div class="option">
	<img src="/images/btpd-logo.png" class="logo"><h3><a href="https://github.com/btpd/btpd">BTPD</a></h3>
	<div class="option-p">
	<p>The Bittorrent Protocol Daemon. If you were looking for a minimal Bittorrent CLI client,
	you'll love BTPD</p>
	</div>
</div>
<h2 id="download-manager">Download Managers</h2>
<p>A download manager is a program capable of making multiple connections to multiple servers, sometimes using
different protocols, to accelerate your downloads</p>
<p><i>Some of these download managers support Bittorrent, which is prosecuted in some countries. Consider using a <a href="#vpn">VPN</a>.</i></p>
<div class="option">
	<img src="/images/xtremedownloadmanager-logo.png" class="logo"><h3><a href="https://xtremedownloadmanager.com/">Xtreme Download Manager</a></h3>
	<div class="option-p">
	<p>Xtreme Download Manager is a powerful GUI tool to increase download speed up-to 500%, save streaming videos
	from websites, resume broken/dead downloads, schedule and convert downloads. XDM seamlessly integrates with
	Firefox, to take over downloads and saving streaming videos from web. XDM has a built in video converter which
	lets you convert your downloaded videos to different formats.</p>
	</div>
</div>
<div class="option">
	<img src="/images/aria2-logo.png" class="logo"><h3><a href="https://aria2.github.io/">Aria2</a></h3>
	<div class="option-p">
	<p>Aria2 is a utility for downloading files. The supported protocols are HTTP(S), FTP, SFTP, BitTorrent,
	and Metalink. aria2 can download a file from multiple sources/protocols and tries to utilize your maximum
	download bandwidth. There are extensions like a webUI and a <a href="https://github.com/RossWang/Aria2-Integration">
	Firefox add-on</a> to integrate it with your browser.</p>
	<p>The most complete download manager and our top choice if you aren't scare
	of the terminal.</p>
	</div>
</div>
<div class="option">
	<img src="/images/axel-logo.png" class="logo"><h3><a href="https://github.com/axel-download-accelerator/axel">Axel</a></h3>
	<div class="option-p">
	<p>Axel tries to accelerate the download process by using multiple connections per file, and can also balance
	the load between different servers. Axel tries to be as light as possible, so it might be useful on byte-critical
	systems. Axel supports HTTP, HTTPS, FTP and FTPS protocols.</p>
	<p>If all you need is a command line tool for fast downloads, then you'll love Axel.</p>
	</div>
</div>

<h2 id="rss">RSS readers</h2>
<div class="option">
	<img src="/images/feeds-logo.png" class="logo"><h3><a href="https://gfeeds.gabmus.org/">gFeeds</a></h3>
	<div class="option-p">
	<p>A GNOME program. It's a GTK news aggreator with a simple to use UI.</p>
	</div>
</div>
<div class="option">
	<img src="/images/snownews-logo.png" class="logo"><h3><a href="https://github.com/msharov/snownews">Snownews</a></h3>
	<div class="option-p">
	<p>A text based news aggregator to use it from your terminal. It's fast, minimalist and it may be used through SSH.</p>
	</div>
</div>

<h2 id="backups">Backups</h2>
<p>Make backups regularly and <strong>remember to encrypt your backups</strong>. Even if encrypted, we recommend to store them in a self-hosted
server. Déjà Dup works with <a href="#cloud">Nextcloud</a>. It's recommended for not technical users.</p>
<div class="option">
	<img src="/images/dejadup-logo.png" class="logo"><h3><a href="https://gitlab.gnome.org/World/deja-dup">Déjà Dup</a></h3>
	<div class="option-p">
	<p>Déjà Dup is a simple backup tool. It hides the complexity of backing up the Right Way (encrypted, off-site, and regular) and uses
	duplicity as the backend. It's the only graphical tool in this list and the one we recommend to people afraid of the command line.</p>
	</div>
</div>
<div class="option">
	<img src="/images/restic-logo.png" class="logo"><h3><a href="https://restic.net/">Restic</a></h3>
	<div class="option-p">
	<p>Restic is a backup program which supports encrypted, secure and verifiable backups. It's fast and
	easy to use, while supporting different storage types.</p>
	</div>
</div>
<div class="option">
	<img src="/images/borg-logo.png" class="logo"><h3><a href="https://www.borgbackup.org/">BorgBackup</a></h3>
	<div class="option-p">
	<p>CLI backup utility. Borg is a deduplicating archiver with compression and encryption. It supports remote backups over SSH.</p>
	</div>
</div>

<h2 id="gemini">Gemini</h2>
<p><i>From Wikipedia:</i> Gemini is an application-layer internet communication protocol for accessing remote documents,
similarly to the Hypertext Transfer Protocol (HTTP) and Gopher. It is intended as a third alternative to those protocols.
It comes with a special document format, commonly called "gemtext", that allows linking to other documents.</p>
<div class="option">
	<img src="/images/gemini-logo.png" class="logo"><h3><a href="https://gmi.skyjake.fi/lagrange/">Lagrange</a></h3>
	<div class="option-p">
	<p>Lagrange is a desktop GUI client for browsing Geminispace. It offers modern conveniences familiar
	from web browsers, such as smooth scrolling, inline image viewing, multiple tabs, visual themes,
	Unicode fonts, bookmarks, history, and page outlines.</p>
	</div>
</div>
<div class="option">
	<img src="/images/gemini-logo.png" class="logo"><h3><a href="https://github.com/blmayer/astro">Astro</a></h3>
	<div class="option-p">
	<p>Astro is a terminal client using less written in POSIX shell script.</p>
	</div>
</div>
<div class="option">
	<img src="/images/gemini-logo.png" class="logo"><h3><a href="https://telescope.omarpolo.com/">Telescope</a></h3>
	<div class="option-p">
	<p>Telescope is a w3m-like browser for Gemini, but it also supports the Gopher and Finger protocols.</p>
	</div>
</div>
<!-- 
<div class="option">
	<img src="/images/gemini-logo.png" class="logo"><h3><a href="https://github.com/crusom/Gemcurses">Gemcurses</a></h3>
	<div class="option-p">
	<p>A Gemini client, written in C using ncurses. It has bookmarks and mouse scroll support.</p>
	</div>
</div>
-->

<h2 id="gopher">Gopher</h2>
<p><i>From Wikipedia:</i> The Gopher protocol is a communication protocol designed for distributing, searching, and retrieving
documents in Internet Protocol networks. The design of the Gopher protocol and user interface is menu-driven,
and presented an alternative to the World Wide Web in its early stages, but ultimately fell into disfavor,
yielding to HTTP.</p>
<h3>Gopher Browsers</h3>
<div class="option">
	<img src="/images/gopher-logo.png" class="logo"><h3><a href="http://gopherus.sourceforge.net/">Gopherus</a></h3>
	<div class="option-p">
	<p>Gopherus is a free, multiplatform, console-mode gopher client that provides a classic text
	interface to the gopherspace. Gopherus is published under the '2-clause' BSD license.</p>
	</div>
</div>
<h3>Gopher servers</h3>
<div class="option">
	<img src="/images/gopher-logo.png" class="logo"><h3><a href="https://github.com/gophernicus/gophernicus">Gophernicus</a></h3>
	<div class="option-p">
	<p>Gophernicus is a modern, full-featured and secure gopher daemon. It has special security features for
	OpenBSD and it supports encryption.</p>
	</div>
</div>
<div class="option">
	<img src="/images/gopher-logo.png" class="logo"><h3><a href="http://motsognir.sourceforge.net/">Motsognir</a></h3>
	<div class="option-p">
	<p>Motsognir, a robust, reliable and easy to install gopher server.
	Written in ANSI C, will run in any POSIX OS, all the configuration is done
	in a single config file.</p>
	</div>
</div>

<!-- 
<br>
<p><strong>Anti-Copyright! Reprint freely, in any manner desired, even without naming the source</strong</p>
<div class="option">
	<img src="/images/-logo.png" class="logo"><h3><a href=""></a></h3>
	<div class="option-p">
	<p></p>
	</div>
</div>


<p><i>--- WIP ---</i></p>
<h2 id=""></h2>
-->
