<h1>Search Engine Comparison</h1>
<p><i>WIP</i></p>
<p>We will be ranking various search engines, for that purpose we will take into account the following
aspects: Search results quality, having their own index, sharing data with third parties, ads, requiring
javascript, onion site, IP storage, blocks Tor/VPN, censorship, license, spyware level and the overall rating.</p>
<p>Zoom out in your browser to view the whole table</p>
<div class="table-container">
	<table>
		<tr>
			<td>Engine / Feature</td>
			<td><a href="#duckduckgo">Duckduckgo</a></td>
			<td><a href="#startpage">Startpage</a></td>
			<td><a href="#ecosia">Ecosia</a></td>
			<td><a href="#searx">SearX</a></td>
			<td><a href="#metager">Metager</a></td>
			<td><a href="#qwant">Qwant</a></td>
			<td><a href="#yacy">Yacy</a></td>
			<td><a href="#swisscows">Swisscows</a></td>
			<td><a href="#neeva">Neeva</a></td> 
			<td><a href="#whoogle">Whoogle</a></td>
			<td><a href="#bravesearch">Brave Search</a></td>
			<td><a href="#alexandria">Alexandria</a></td>
			<td><a href="#rightdao">Right Dao</a></td>
			<td><a href="#gigablast">Gigablast</a></td>
			<td><a href="#privacywall">PrivacyWall</a></td>
			<td><a href="#findx">FindX</a></td>
			<td><a href="#mojeek">Mojeek</a></td>
		</tr>
		<tr>
			<td><a href="#">JavaScript Required</a></td>
			<td class="yellow">For Images</td>
			<td class="orange">For captcha</td>
			<td class="yellow">For images</td>
			<td class="green">No</td>
			<td class="green">No</td>
			<td class="green">No</td>
			<td class="green">No</td>
			<td class="red">Yes</td>
			<td class="red">Yes</td>
			<td class="green">No</td>
			<td class="yellow">For Images and disabling telemetry</td>
			<td class="green">No</td>
			<td class="green">No</td>
			<td class="red">Yes</td>
			<td class="green">No</td>
			<td class="green">No</td>
			<td class="green">No</td>
		</tr>
		<tr>
			<td><a href="#">Own Index</a></td>
			<td class="red">No</td>
			<td class="red">No</td>
			<td class="red">No</td>
			<td class="red">No</td>
			<td class="orange">Partial</td>
			<td class="orange">Partial</td>
			<td class="green">Yes</td>
			<td class="red">No</td>
			<td class="orange">Partial</td>
			<td class="red">No</td>
			<td class="orange">Partial</td>
			<td class="green">Yes</td>
			<td class="green">Yes</td>
			<td class="green">Yes</td>
			<td class="red">No</td>
			<td class="red">No</td>
			<td class="green">Yes</td>
		</tr>
		<tr>
			<td><a href="#">Search Results Quality</a></td>
			<td class="yellow">Average</td>
			<td class="yellow">Average</td>
			<td class="yellow">Average</td>
			<td class="blue">Depends on the instance, probably ok</td>
			<td class="green">Good</td>
			<td class="yellow">Average</td>
			<td class="red">Poor</td>
			<td class="yellow">Average</td>
			<td >Unkown (registration needed, fuck off)</td>
			<td class="yellow">Average</td>
			<td class="yellow">Average</td>
			<td class="yellow">Surprisingly Average</td>
			<td class="orange">Lacking</td>
			<td class="red">Poor</td>
			<td class="blue">Probably ok</td>
			<td class="green">Good</td>
			<td class="orange">Lacking</td>
		</tr>
		<tr>
			<td><a href="#">Ads</a></td>
			<td class="red">yes</td>
			<td class="red">yes</td>
			<td class="red">yes</td>
			<td class="green">no</td>
			<td class="red">yes</td>
			<td class="red">yes</td>
			<td class="green">no</td>
			<td class="red">yes</td>
			<td class="green">no</td>
			<td class="green">no</td>
			<td class="green">no?</td>
			<td class="green">no</td>
			<td class="red">yes, as "top results"</td>
			<td class="green">no</td>
			<td class="red">yes</td>
			<td class="red">yes</td>
			<td class="green">no</td>
		</tr>
		<tr>
			<td><a href="#">Shares data with third parties</a></td>
			<td class="green">no</td>
			<td class="green">no</td>
			<td class="red">yes</td>
			<td class="green">Depends on the instance, mostly no</td>
			<td class="green">no</td>
			<td class="red">yes</td>
			<td class="green">no</td>
			<td class="red">yes</td>
			<td >Unknown</td>
			<td class="green">no</td>
			<td class="green">no</td>
			<td class="green">no</td>
			<td class="green">no</td>
			<td >Unknown</td>
			<td class="red">yes</td>
			<td class="red">yes</td>
			<td class="green">no</td>
		</tr>
		<tr>
			<td><a href="#">IP storage</a></td>
			<td class="green">No</td>
			<td class="green">No</td>
			<td class="red">Yes</td>
			<td class="green">Depends on the instance, mostly no</td>
			<td class="red">Yes</td>
			<td class="red">Yes</td>
			<td >Not applicable</td>
			<td class="green">No</td>
			<td class="red">Yes</td>
			<td class="green">Depends on the instance, mostly no</td>
			<td class="green">No</td>
			<td class="green">No</td>
			<td class="red">yes</td>
			<td class="orange">Unknown, possible</td>
			<td class="red">yes</td>
			<td class="orange">Unknown, possible</td>
			<td class="green">No</td>
		</tr>
		<tr>
			<td><a href="#">Blocks Tor/VPN</a></td>
			<td class="green">No</td>
			<td class="orange">Annoying captcha (JS)</td>
			<td class="red">Yes</td>
			<td class="green">Depends on the instance, mostly no</td>
			<td class="green">no</td>
			<td class="green">no</td>
			<td >Not applicable</td>
			<td class="red">Yes</td>
			<td >Unknown</td>
			<td class="green">Depends on the instance, mostly no</td>
			<td class="green">No</td>
			<td class="green">No</td>
			<td class="green">No</td>
			<td class="green">No</td>
			<td class="green">No</td>
			<td class="green">No</td>
			<td class="green">No</td>
		</tr>
		<tr>
			<td><a href="#">Onion Site</a></td>
			<td class="green">Yes</td>
			<td class="red">No</td>
			<td class="red">No</td>
			<td class="green">Onion instances</td>
			<td class="green">Yes</td>
			<td class="red">No</td>
			<td >Not applicable</td>
			<td class="red">No</td>
			<td class="red">No</td>
			<td class="green">Onion instances</td>
			<td class="red">No</td>
			<td class="red">No</td>
			<td class="red">No</td>
			<td class="red">No</td>
			<td class="red">No</td>
			<td class="red">No</td>
			<td class="red">No</td>
		</tr>
		<tr>
			<td><a href="#">License</a></td>
			<td class="red">Proprietary</td>
			<td class="red">Proprietary</td>
			<td class="red">Proprietary</td>
			<td class="green">AGPL</td>
			<td class="green">AGPL</td>
			<td class="red">Proprietary</td>
			<td class="green">LGPL</td>
			<td class="red">Proprietary</td>
			<td class="red">Proprietary</td>
			<td class="green">MIT</td>
			<td class="red">Proprietary</td>
			<td class="green">MIT</td>
			<td class="red">Proprietary</td>
			<td class="green">Apache</td>
			<td class="red">Proprietary</td>
			<td class="red">Proprietary</td>
			<td class="red">Proprietary</td>
		</tr>
		<tr>
			<td><a href="#">Spyware Level</a></td>
			<td class="yellow">Average</td>
			<td class="red">Probably Very High</td>
			<td class="orange">High</td>
			<td class="green">Depends on the instance, mostly not spyware</td>
			<td class="yellow">Average</td>
			<td class="yellow">Average</td>
			<td class="green">Not spyware</td>
			<td class="orange">High</td>
			<td class="red">Very High, requires registration</td>
			<td class="green">Depends on the instance, mostly not spyware</td>
			<td class="yellow">Average</td>
			<td class="blue">Very low, can be disabled</td>
			<td class="yellow">Low?</td>
			<td class="red">Average</td>
			<td class="red">Very High</td>
			<td class="orange">High?</td>
			<td class="yellow">Low?</td>
		</tr>
		<tr>
			<td><a href="#">Verdict</a></td>
			<td class="orange">Very Low tier</td>
			<td class="red">Do not use</td>
			<td class="red">Do not use</td>
			<td class="green">Good if on a decent instance</td>
			<td class="blue">Decent if using the onion</td>
			<td class="yellow">Low tier</td>
			<td class="orange">Not spyware, but poor results</td>
			<td class="red">Do not use</td>
			<td class="red">Do not use</td>
			<td class="blue">Decent on a good instance</td>
			<td class="orange">Very Low tier</td>
			<td class="green">Probably good</td>
			<td class="yellow">Ok, bad results</td>
			<td class="orange">Very Low tier</td>
			<td class="red">Do not use</td>
			<td class="red">Do not use</td>
			<td class="blue">Decent, not the best results</td>
		</tr>
	</table>
</div>
